@charset "UTF-8";
@author "Renata Pithan";

*{
  font-family: 'Poppins', sans-serif;
  color: #265073;
  font-size: 12pt;
}

.background{
  background-image: url(../img/bg.png);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.geral{
  background-color: rgba(255, 255, 255, 0.65);
  border-radius: 2px;
  padding: 5px;
}

p,ul,li{
  margin-left: 10px;
  padding: 2px;
}

.titulo1{
  text-align: center;
  font-size: 30pt;
}

.subtitulos{
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
}

.iconlink{
  width: 50px;
  margin-left: 10px;
}

h1{
  margin-left: 10px;
  font-size: 30px;
}

.titulolista{
  font-size: 14px;
  font-weight: bold;
}

.sintese{
  line-height: 20px;
}

.foto{
  width: 330px;
  float: right;
  margin-top: -70px;
}
